---
layout: layouts/base.njk
title: Guardia Civil · Hermano Mayor de Honor
description: Vínculo institucional y devoción compartida entre la Benemérita y el Santo Sepulcro de Elche.
bodyClass: page-light
---

<article class="history-page">
  <header class="page-header wrap">
    <span class="pre-title">Hermano Mayor de Honor</span>
    <h1>Comandancia de Alicante</h1>
    <div class="header-line"></div>
  </header>

  {# --- INTRODUCCIÓN --- #}
  <section class="history-grid wrap">
    <div class="history-text">
      <h2>Unión de Fe y Servicio</h2>
      <p>La Hermandad de Caballeros del Santo Sepulcro de Elche tiene el honor de mantener un vínculo histórico con el cuerpo de la <strong>Guardia Civil</strong>. Esta relación hunde sus raíces en los valores compartidos de ambas instituciones: el sacrificio, la austeridad y la disciplina, entre otros.</p>
      <p>Desde hace décadas, la Comandancia de la Guardia Civil de Alicante ostenta el título de <strong>Hermano Mayor Honorario</strong> de nuestra Hermandad. Este nombramiento es fruto de la escolta de honor y el respeto que la Benemérita presta a la imagen del Señor en su lecho de muerte de nuestra Hermandad, reconociendo en ella un aliado fiel en la custodia de nuestras tradiciones.</p>
    </div>
    <div class="history-image">
      <img src="/img/guardiacivilescudo.webp" alt="Comandancia de la Guardia Civil de Alicante">
    </div>
  </section>

  {# --- LA ESCOLTA DE HONOR --- #}
  <section class="history-grid wrap invert-mobile">
    <div class="history-image">
      <img src="/img/guardiacivilstoentierro.webp" alt="Escolta de gala de la Guardia Civil el Viernes Santo">
    </div>
    <div class="history-text">
      <span class="pre-title">Viernes Santo</span>
      <h2>La Escolta de Honor</h2>
      <p>Esa hermandad con el cuerpo de la Benemérita se vive especialmente cada <strong>Viernes Santo</strong>. Una escuadra de voluntarios de la Guardia Civil, vistiendo su uniforme de gala, realiza la escolta de honor al Trono del Santo Sepulcro.</p>
      <p>El Viernes Santo, la presencia y el paso marcial de los agentes en la Procesión del Santo Entierro de la Semana Santa ilicitana, pone de relieve la devoción que se tributa, también dentro de nuestras Fuerzas Armadas, a Quien dio la Vida por nuestra Redención.</p>
    </div>
  </section>

  {# --- CAJA DE VALORES (ESTILO ITINERARIO) --- #}
  <div class="wrap" style="max-width: 800px;">
    <div class="route-box">
        <span class="route-label-inline">Valores</span>
        <p class="route-list">
            <strong>Honor </strong><span>☩</span><strong> Lealtad </strong><span>☩</span><strong> Devoción </strong><span>☩</span><strong> Sacrificio </strong><span>☩</span><strong> Abnegación
        </p>
    </div>
  </div>

</article>
