<footer class="site-footer">
  <div class="wrap footer-content">
    
    <div class="footer-logo">
      <img src="/img/escudo.png" alt="Escudo Hermandad" class="footer-shield">
    </div>

    <div class="footer-info">
      <h2 class="footer-motto">Elche · 1852</h2>
      <p class="footer-location">
       <a href="https://www.sanjoseelche.es/" target="_blank" rel="noopener noreferrer">
        Iglesia parroquial de San José
       </a>
      </p>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
      <p>&copy; <span id="current-year">2026</span> Hermandad de Caballeros del Santo Sepulcro de Elche</p>
      <p class="footer-credit"><i>Desarrollado con devoción</i></p>
    </div>

  </div>
</footer>
